@import 'locomotive-scroll/dist/locomotive-scroll.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-spin-reverse {
    animation: spin-reverse 1.5s linear infinite;
  }

  @keyframes spin-reverse {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}

.link-hover-green {
  @apply after:rounded-xl after:content-[''] after:absolute after:-bottom-2 after:left-0 after:block after:h-[3px] after:bg-darkgreen after:w-full after:origin-left after:scale-x-0 hover:after:scale-x-100 after:transition-transform duration-700 hover:-translate-y-[1.5px] relative cursor-pointer;
}
.link-hover-peach {
  @apply after:rounded-xl after:content-[''] after:absolute after:-bottom-2 after:left-0 after:block after:h-[3px] after:bg-peach after:w-full after:origin-left after:scale-x-0 hover:after:scale-x-100 after:transition-transform duration-700 hover:-translate-y-[1.5px] relative cursor-pointer inline-block;
}

.skew-heading {
  @apply after:content-[''] after:absolute after:-z-20 after:-skew-x-[20deg] after:rounded-md after:p-6 md:after:p-8 after:-top-2 xl:after:-top-3 after:-left-3 after:bg-darkgreen;
}

.skew-heading-peach {
  @apply after:content-[''] after:absolute after:-z-20 after:-skew-x-[20deg] hover:after:skew-x-[20deg] after:transition-all after:duration-300 hover:text-peach hover:after:border-2 hover:after:bg-darkgreen  hover:after:border-peach after:rounded-md after:p-7 after:-top-2 after:-left-4 after:bg-peach;
}

.react-slide {
  padding: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: #a7c957 !important;
  font-size: 2rem !important;
}

.slick-prev:before {
  margin-right: 20px !important;
}
.slick-dots .slick-active button::before {
  color: #386641 !important;
  opacity: 0.75 !important;
}

.slick-dots li button::before {
  color: #6a994e !important;
  opacity: 0.45 !important;
  font-size: 10px !important;
  margin-top: 20px !important;
}

.slick-slide .slides-packed {
  opacity: 1 !important;
}

@media (min-width: 769px) {
  .slick-center {
    @apply transition-all ease-in-out;
  }

  .slick-slide .slides-packed {
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    opacity: 0.8 !important; /* Reduce opacity for non-active slides */
    transform: scale(0.8);
  }

  .slick-center .slides-packed {
    transform: scale(1) !important;
    opacity: 1 !important;
  }
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2; /* Ensure the arrows are above the slides */
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
}

.prev-arrow {
  left: -60px;
}

.next-arrow {
  right: -60px;
}

::-webkit-scrollbar {
  @apply w-[10px] md:h-[2px];
}

::-webkit-scrollbar {
  height: 2px; /* Adjust height for x-axis scrollbar */
}
::-webkit-scrollbar-track {
  @apply bg-mediumgreen bg-opacity-45;
}

/* Style the scrollbar thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-darkgreen;
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #6a994e;
}

.react-tel-input .form-control {
  @apply outline-none bg-inherit border border-darkgreen rounded-xl p-3 pl-12  font-jakarta placeholder:text-darkgreen placeholder:font-jakarta placeholder:opacity-80;
}

.react-tel-input .form-control {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  background-color: inherit !important;
  border: 1px solid #386641 !important;
  border-collapse: collapse !important;
  padding: 1.5rem !important;
  padding-left: 48px !important;
  border-radius: 0.75rem !important;
  width: 100% !important ;
}

.react-tel-input .selected-flag:hover {
  background-color: inherit !important;
}

.react-tel-input .selected-flag {
  padding-left: 15px !important;
  background-color: inherit !important;
}

.react-tel-input .country-list .search-box {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  background-color: inherit !important;
  border: 1px solid #386641 !important;
  border-collapse: collapse !important;
  border-radius: 0.25rem !important;
}

.react-tel-input .country-list .search-box::placeholder {
  color: #386641 !important;
  opacity: 0.8 !important;
}

.flag-dropdown {
  border: none !important ;
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  background-color: inherit !important;
  border-collapse: collapse !important;
}

.react-tel-input .country-list .search {
  background-color: #f2e8cf !important;
}

.react-tel-input .country-list .country {
  background-color: #f2e8cf !important;
  color: #386641 !important ;
}
@media (max-width: 768px) {
  .slick-next:before,
  .slick-prev:before {
    display: none;
  }

  .prev-arrow {
    left: -20px;
  }

  .next-arrow {
    right: -20px;
  }
}

.custom-label {
  @apply font-zodiak font-medium text-darkgreen lg:text-lg;
}

.custom-input {
  @apply outline-none border border-darkgreen rounded-lg p-2 px-5 font-jakarta placeholder:text-darkgreen placeholder:text-sm placeholder:text-opacity-65 bg-transparent;
}
