@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Zodiak';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://api.fontshare.com/v2/css?f[]=zodiak@700&display=swap');
}

::-webkit-scrollbar {
  @apply w-[10px] md:h-[2px];
}

::-webkit-scrollbar {
  height: 2px; /* Adjust height for x-axis scrollbar */
}
::-webkit-scrollbar-track {
  @apply bg-mediumgreen bg-opacity-45;
}

/* Style the scrollbar thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  @apply bg-darkgreen;
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #6a994e;
}

@layer utilities {
  .animate-spin-reverse {
    animation: spin-reverse 1.5s linear infinite;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px; /* Set the width of the scrollbar */
  }

  .modal-scrollbar::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
  }

  .modal-scrollbar::-webkit-scrollbar-track {
    background-color: rgb(242 232 207 / 0.3); /* Track color */
    border-radius: 10px;
  }

  .modal-scrollbar::-webkit-scrollbar-thumb {
    background-color: #386641; /* Thumb color */
    border-radius: 5px;
  }

  .modal-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Thumb color when hovered */
  }

  @keyframes spin-reverse {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}

.link-hover-green {
  @apply after:rounded-xl after:content-[''] after:absolute after:-bottom-2 after:left-0 after:block after:h-[3px] after:bg-darkgreen after:w-full after:origin-left after:scale-x-0 hover:after:scale-x-100 after:transition-transform duration-700 hover:-translate-y-[1.5px] relative cursor-pointer w-fit;
}
.link-hover-peach {
  @apply after:rounded-xl after:content-[''] after:absolute after:-bottom-2 after:left-0 after:block after:h-[3px] after:bg-peach after:w-full after:origin-left after:scale-x-0 hover:after:scale-x-100 after:transition-transform duration-700 hover:-translate-y-[1.5px] relative cursor-pointer w-fit;
}

.react-tel-input .form-control {
  @apply outline-none bg-inherit border border-darkgreen rounded-xl p-3 pl-12  font-jakarta placeholder:text-darkgreen placeholder:font-jakarta placeholder:opacity-80;
}

.react-tel-input .form-control {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  background-color: inherit !important;
  border: 1px solid #386641 !important;
  border-collapse: collapse !important;
  padding: 1.5rem !important;
  padding-left: 48px !important;
  border-radius: 0.75rem !important;
  width: 100% !important ;
}

.react-tel-input .selected-flag:hover {
  background-color: inherit !important;
}

.react-tel-input .selected-flag {
  padding-left: 15px !important;
  background-color: inherit !important;
}

.react-tel-input .country-list .search-box {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  background-color: inherit !important;
  border: 1px solid #386641 !important;
  border-collapse: collapse !important;
  border-radius: 0.25rem !important;
}

.react-tel-input .country-list .search-box::placeholder {
  color: #386641 !important;
  opacity: 0.8 !important;
}

.flag-dropdown {
  border: none !important ;
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  background-color: inherit !important;
  border-collapse: collapse !important;
}

.react-tel-input .country-list .search {
  background-color: #f2e8cf !important;
}

.react-tel-input .country-list .country {
  background-color: #f2e8cf !important;
  color: #386641 !important ;
}

.custom-label {
  @apply font-zodiak font-medium text-darkgreen lg:text-lg;
}

.custom-input {
  @apply outline-none border border-darkgreen rounded-lg p-2 px-5 font-jakarta placeholder:text-darkgreen placeholder:text-sm placeholder:text-opacity-65 bg-transparent;
}

@keyframes loaderMove {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-loader {
  animation: loaderMove 3s infinite linear;
}

/* forex form styles */
/* .forex-input-fields {
  @apply block w-full text-md h-[50px] px-4 text-peach bg-darkgreen/10 rounded-[8px] border border-peach appearance-none focus:border-transparent focus:outline focus:outline-2 focus:outline-peach focus:ring-0  overflow-ellipsis overflow-hidden text-nowrap pr-[48px] placeholder:text-peach/50 caret-peach;
}

.forex-input-labels {
  @apply peer-placeholder-shown:-z-10 peer-focus:z-10 absolute text-[14px] leading-[150%] duration-300 transform -translate-y-[1.2rem] scale-75 font-medium left-2 top-2 z-10 origin-[0] bg-peach text-darkgreen rounded-full  px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-[1.2rem];
} */

/* .forex-input-fields {
  @apply block w-full text-md h-[50px] px-4 text-peach bg-darkgreen/10 rounded-[8px] border border-peach appearance-none focus:border-transparent focus:outline focus:outline-2 focus:outline-peach focus:ring-0  overflow-ellipsis overflow-hidden text-nowrap pr-[48px] placeholder:text-peach/50 caret-peach;
}

.forex-input-labels {
  @apply absolute !text-[12px] !font-medium !leading-tight !px-2 !py-0.5 left-2 top-3 text-peach transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-peach/50 peer-focus:-top-3 peer-focus:text-base peer-focus:text-darkgreen peer-focus:bg-peach peer-focus:px-3 peer-focus:rounded-full;
} */

.forex-input-fields {
  @apply block w-full text-md h-[50px] px-4 text-peach bg-darkgreen/10 rounded-[8px] border border-peach appearance-none focus:border-transparent focus:outline focus:outline-2 focus:outline-peach focus:ring-0 min-w-64 placeholder-transparent caret-peach z-50;
}

.forex-input-labels {
  @apply absolute z-10 text-sm font-medium px-2 py-0.5 left-2 transition-all text-peach/60 bg-transparent rounded-full;
  top: 22%; /* Initial position */
  transform: translateY(-8%); /* Center vertically */
}

.forex-input-fields:focus ~ .forex-input-labels,
.forex-input-fields:not(:placeholder-shown) ~ .forex-input-labels {
  @apply -top-3 text-darkgreen bg-peach px-3 rounded-full;
  font-size: 0.75rem; /* Adjust size when floating */
}

.form-input {
  @apply w-full p-3 border rounded-md focus:outline-none focus:ring-2 focus:ring-peach;
}

.custom-forex-input-fields {
  @apply block w-full text-md h-[40px] sm:h-[50px] px-4 text-darkgreen  rounded-[8px] border border-darkgreen appearance-none focus:border-transparent focus:outline focus:outline-2 focus:outline-darkgreen focus:ring-0 placeholder-transparent caret-darkgreen z-50;
}

.custom-forex-input-labels {
  @apply absolute z-10 text-xs sm:text-sm font-medium px-2 py-0.5 left-2 transition-all text-darkgreen/60 bg-transparent rounded-full;
  top: 22%; /* Initial position */
  transform: translateY(-8%); /* Center vertically */
}

.custom-forex-input-fields:focus ~ .custom-forex-input-labels,
.custom-forex-input-fields:not(:placeholder-shown)
  ~ .custom-forex-input-labels {
  @apply -top-3 text-peach bg-darkgreen px-3 rounded-full text-[0.6rem] sm:text-[0.75rem];
}
